In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('healthcare_dataset.csv')
df

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55495,eLIZABeTH jaCkSOn,42,Female,O+,Asthma,2020-08-16,Joshua Jarvis,Jones-Thompson,Blue Cross,2650.714952,417,Elective,2020-09-15,Penicillin,Abnormal
55496,KYle pEREz,61,Female,AB-,Obesity,2020-01-23,Taylor Sullivan,Tucker-Moyer,Cigna,31457.797307,316,Elective,2020-02-01,Aspirin,Normal
55497,HEATher WaNG,38,Female,B+,Hypertension,2020-07-13,Joe Jacobs DVM,"and Mahoney Johnson Vasquez,",UnitedHealthcare,27620.764717,347,Urgent,2020-08-10,Ibuprofen,Abnormal
55498,JENniFER JOneS,43,Male,O-,Arthritis,2019-05-25,Kimberly Curry,"Jackson Todd and Castro,",Medicare,32451.092358,321,Elective,2019-05-31,Ibuprofen,Abnormal
55499,jAMES GARCiA,53,Female,O+,Arthritis,2024-04-02,Dennis Warren,Henry Sons and,Aetna,4010.134172,448,Urgent,2024-04-29,Ibuprofen,Abnormal

In [3]:
df.isnull().sum()

Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

In [4]:
df.shape

(55500, 15)

In [5]:
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal

In [6]:
df = df[['Hospital','Date of Admission','Discharge Date','Name','Age','Gender','Blood Type','Medical Condition','Doctor','Insurance Provider','Billing Amount','Room Number','Admission Type','Medication','Test Results']]
df.head()

,Hospital,Date of Admission,Discharge Date,Name,Age,Gender,Blood Type,Medical Condition,Doctor,Insurance Provider,Billing Amount,Room Number,Admission Type,Medication,Test Results
0,Sons and Miller,2024-01-31,2024-02-02,Bobby JacksOn,30,Male,B-,Cancer,Matthew Smith,Blue Cross,18856.281306,328,Urgent,Paracetamol,Normal
1,Kim Inc,2019-08-20,2019-08-26,LesLie TErRy,62,Male,A+,Obesity,Samantha Davies,Medicare,33643.327287,265,Emergency,Ibuprofen,Inconclusive
2,Cook PLC,2022-09-22,2022-10-07,DaNnY sMitH,76,Female,A-,Obesity,Tiffany Mitchell,Aetna,27955.096079,205,Emergency,Aspirin,Normal
3,"Hernandez Rogers and Vang,",2020-11-18,2020-12-18,andrEw waTtS,28,Female,O+,Diabetes,Kevin Wells,Medicare,37909.782410,450,Elective,Ibuprofen,Abnormal
4,White-White,2022-09-19,2022-10-09,adrIENNE bEll,43,Female,AB+,Cancer,Kathleen Hanna,Aetna,14238.317814,458,Urgent,Penicillin,Abnormal

In [7]:
df.shape

(55500, 15)

In [8]:
df1 = df.sort_values(by = 'Hospital', ascending = True)
df1.head()

,Hospital,Date of Admission,Discharge Date,Name,Age,Gender,Blood Type,Medical Condition,Doctor,Insurance Provider,Billing Amount,Room Number,Admission Type,Medication,Test Results
49809,Abbott Inc,2022-05-07,2022-05-10,RONaLD HuBBard,59,Female,O+,Arthritis,Brandi Lucas,Medicare,38052.041917,467,Elective,Lipitor,Abnormal
31744,Abbott Ltd,2022-08-01,2022-08-20,hEATHEr SMITh,59,Male,O-,Arthritis,Jessica Arnold,UnitedHealthcare,29877.586483,198,Emergency,Paracetamol,Normal
14349,"Abbott Moore and Williams,",2022-08-25,2022-09-19,KiMBerly caRr,39,Male,AB+,Obesity,Jordan Black,UnitedHealthcare,24799.596339,490,Emergency,Lipitor,Inconclusive
26141,"Abbott and Thompson, Sullivan",2022-12-03,2022-12-29,lAURa tAte,84,Male,B-,Hypertension,Angela Hernandez,Blue Cross,16738.569765,278,Elective,Aspirin,Normal
50375,"Abbott, Peters and Hoffman",2022-01-05,2022-01-18,samUEL GomEZ,62,Male,A-,Diabetes,Kelsey Logan,Medicare,18842.396863,447,Urgent,Lipitor,Inconclusive

In [9]:
df1.shape

(55500, 15)

In [10]:
df1['Name'] = df1.Name.str.title()
df1.head()

,Hospital,Date of Admission,Discharge Date,Name,Age,Gender,Blood Type,Medical Condition,Doctor,Insurance Provider,Billing Amount,Room Number,Admission Type,Medication,Test Results
49809,Abbott Inc,2022-05-07,2022-05-10,Ronald Hubbard,59,Female,O+,Arthritis,Brandi Lucas,Medicare,38052.041917,467,Elective,Lipitor,Abnormal
31744,Abbott Ltd,2022-08-01,2022-08-20,Heather Smith,59,Male,O-,Arthritis,Jessica Arnold,UnitedHealthcare,29877.586483,198,Emergency,Paracetamol,Normal
14349,"Abbott Moore and Williams,",2022-08-25,2022-09-19,Kimberly Carr,39,Male,AB+,Obesity,Jordan Black,UnitedHealthcare,24799.596339,490,Emergency,Lipitor,Inconclusive
26141,"Abbott and Thompson, Sullivan",2022-12-03,2022-12-29,Laura Tate,84,Male,B-,Hypertension,Angela Hernandez,Blue Cross,16738.569765,278,Elective,Aspirin,Normal
50375,"Abbott, Peters and Hoffman",2022-01-05,2022-01-18,Samuel Gomez,62,Male,A-,Diabetes,Kelsey Logan,Medicare,18842.396863,447,Urgent,Lipitor,Inconclusive

In [11]:
col_to_move = 'Name'  # Specify the column to move
new_position = 1  # Desired position

cols = [col for col in df1.columns if col != col_to_move]
cols.insert(new_position, col_to_move)
df2 = df1[cols]
df2

,Hospital,Name,Date of Admission,Discharge Date,Age,Gender,Blood Type,Medical Condition,Doctor,Insurance Provider,Billing Amount,Room Number,Admission Type,Medication,Test Results
49809,Abbott Inc,Ronald Hubbard,2022-05-07,2022-05-10,59,Female,O+,Arthritis,Brandi Lucas,Medicare,38052.041917,467,Elective,Lipitor,Abnormal
31744,Abbott Ltd,Heather Smith,2022-08-01,2022-08-20,59,Male,O-,Arthritis,Jessica Arnold,UnitedHealthcare,29877.586483,198,Emergency,Paracetamol,Normal
14349,"Abbott Moore and Williams,",Kimberly Carr,2022-08-25,2022-09-19,39,Male,AB+,Obesity,Jordan Black,UnitedHealthcare,24799.596339,490,Emergency,Lipitor,Inconclusive
26141,"Abbott and Thompson, Sullivan",Laura Tate,2022-12-03,2022-12-29,84,Male,B-,Hypertension,Angela Hernandez,Blue Cross,16738.569765,278,Elective,Aspirin,Normal
50375,"Abbott, Peters and Hoffman",Samuel Gomez,2022-01-05,2022-01-18,62,Male,A-,Diabetes,Kelsey Logan,Medicare,18842.396863,447,Urgent,Lipitor,Inconclusive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3657,and Zimmerman Sons,Trevor Conway,2019-08-14,2019-08-16,72,Female,AB+,Obesity,Catherine Howell,Cigna,32706.652625,473,Elective,Ibuprofen,Abnormal
47416,"and Zuniga Davis Carlson,",Matthew Barry,2019-10-25,2019-11-11,23,Female,AB+,Diabetes,Philip Montgomery,Aetna,42867.041298,212,Emergency,Aspirin,Abnormal
24525,"and Zuniga Francis Peterson,",Cindy Mcdaniel,2020-09-03,2020-09-13,57,Male,A+,Diabetes,Jane Gomez,Aetna,33689.630726,144,Elective,Lipitor,Inconclusive
14567,and Zuniga Sons,Barry Barry,2022-07-15,2022-07-30,71,Female,AB-,Hypertension,Taylor Floyd,Blue Cross,33950.170483,379,Emergency,Ibuprofen,Abnormal
3582,"and Zuniga Thompson, Blake",Rita Parker,2022-06-24,2022-06-25,19,Male,O+,Arthritis,Sean Curry,UnitedHealthcare,22067.428763,284,Elective,Lipitor,Normal

In [12]:
df2 = df2.sort_values(by = 'Age', ascending = True)
df2

,Hospital,Name,Date of Admission,Discharge Date,Age,Gender,Blood Type,Medical Condition,Doctor,Insurance Provider,Billing Amount,Room Number,Admission Type,Medication,Test Results
51900,"and Huerta, Cox Price",Jacob Williams,2020-03-03,2020-03-20,13,Female,A+,Obesity,Samantha Scott,Medicare,42349.109219,373,Urgent,Ibuprofen,Normal
50908,"Kelly, and Gomez Williams",Ronald Davis,2023-12-06,2024-01-04,13,Male,A+,Obesity,Shannon Butler,Cigna,3014.565852,241,Emergency,Paracetamol,Normal
50377,"Pollard Wallace, Sims and",James Bass Phd,2020-12-30,2021-01-17,13,Male,O+,Asthma,Jennifer Hammond,Blue Cross,22901.022707,476,Emergency,Ibuprofen,Inconclusive
53590,Davis-Lawrence,Jessica Chung,2020-07-06,2020-07-11,13,Male,AB+,Obesity,Leah Hancock,Blue Cross,32019.913320,129,Urgent,Aspirin,Abnormal
52172,"Arellano and Armstrong Hensley,",Charles Jordan,2021-05-13,2021-06-12,13,Male,A+,Arthritis,Brian Baker,UnitedHealthcare,10597.383799,451,Emergency,Penicillin,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53825,"and Perez, Bennett Townsend",Michael Potts,2023-01-19,2023-01-28,89,Male,A+,Hypertension,Mary Vaughn,Cigna,9542.739709,289,Emergency,Paracetamol,Abnormal
54044,PLC White,Michael Dominguez,2021-09-07,2021-09-24,89,Male,O+,Cancer,Bridget Irwin,Aetna,7628.951322,363,Elective,Aspirin,Abnormal
54813,Gray-Solomon,Jeremy Hardin Jr.,2019-11-05,2019-11-28,89,Male,A+,Diabetes,Willie Stevens,Cigna,7242.641277,113,Elective,Penicillin,Normal
52372,"and Miller, Olson Olson",Deborah Mcbride,2021-05-28,2021-06-13,89,Female,O+,Obesity,Robert Garcia,Cigna,5692.907188,166,Elective,Paracetamol,Abnormal
52828,"Holmes and Howard Castro,",Donald Avila,2022-09-17,2022-09-27,89,Female,AB-,Asthma,Christopher Allen,Aetna,14042.748908,199,Emergency,Aspirin,Abnormal

In [39]:
col = ['Age','Gender','Blood Type','Medical Condition','Admission Type']
grouped = df2.groupby(col,as_index =True)['Age']
result = grouped.count()
result.head()

Age  Gender  Blood Type  Medical Condition  Admission Type
13   Female  A+          Obesity            Urgent            1
             AB+         Arthritis          Emergency         1
             B-          Asthma             Emergency         1
                         Obesity            Urgent            1
             O-          Cancer             Elective          1
Name: Age, dtype: int64

In [36]:
a = result.Age.isin([13])
b = result[a]
b

Empty DataFrame
Columns: [Gender, Blood Type, Medical Condition, Admission Type, Age]
Index: []

In [15]:
df2.head()

,Hospital,Name,Date of Admission,Discharge Date,Age,Gender,Blood Type,Medical Condition,Doctor,Insurance Provider,Billing Amount,Room Number,Admission Type,Medication,Test Results
51900,"and Huerta, Cox Price",Jacob Williams,2020-03-03,2020-03-20,13,Female,A+,Obesity,Samantha Scott,Medicare,42349.109219,373,Urgent,Ibuprofen,Normal
50908,"Kelly, and Gomez Williams",Ronald Davis,2023-12-06,2024-01-04,13,Male,A+,Obesity,Shannon Butler,Cigna,3014.565852,241,Emergency,Paracetamol,Normal
50377,"Pollard Wallace, Sims and",James Bass Phd,2020-12-30,2021-01-17,13,Male,O+,Asthma,Jennifer Hammond,Blue Cross,22901.022707,476,Emergency,Ibuprofen,Inconclusive
53590,Davis-Lawrence,Jessica Chung,2020-07-06,2020-07-11,13,Male,AB+,Obesity,Leah Hancock,Blue Cross,32019.913320,129,Urgent,Aspirin,Abnormal
52172,"Arellano and Armstrong Hensley,",Charles Jordan,2021-05-13,2021-06-12,13,Male,A+,Arthritis,Brian Baker,UnitedHealthcare,10597.383799,451,Emergency,Penicillin,Normal

In [16]:
cure = df2['Medical Condition'] == 'Obesity'
Cure = df2[cure]
Cure

,Hospital,Name,Date of Admission,Discharge Date,Age,Gender,Blood Type,Medical Condition,Doctor,Insurance Provider,Billing Amount,Room Number,Admission Type,Medication,Test Results
51900,"and Huerta, Cox Price",Jacob Williams,2020-03-03,2020-03-20,13,Female,A+,Obesity,Samantha Scott,Medicare,42349.109219,373,Urgent,Ibuprofen,Normal
50908,"Kelly, and Gomez Williams",Ronald Davis,2023-12-06,2024-01-04,13,Male,A+,Obesity,Shannon Butler,Cigna,3014.565852,241,Emergency,Paracetamol,Normal
53590,Davis-Lawrence,Jessica Chung,2020-07-06,2020-07-11,13,Male,AB+,Obesity,Leah Hancock,Blue Cross,32019.913320,129,Urgent,Aspirin,Abnormal
51095,Wood-Johnson,Cathy Barnes,2023-03-30,2023-04-29,13,Male,O-,Obesity,Kevin Ellison,Medicare,29170.617795,348,Emergency,Lipitor,Abnormal
50823,"and Sanchez Phillips, Brown",Deanna Palmer,2020-09-20,2020-09-23,13,Male,AB-,Obesity,Barbara Butler,Medicare,23941.759486,163,Emergency,Penicillin,Inconclusive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50780,"Perez, Benton West and",Bethany Wood,2021-11-22,2021-12-03,87,Male,A+,Obesity,Christopher Hodges,Aetna,41634.121253,305,Emergency,Paracetamol,Abnormal
51708,Byrd-Porter,Crystal Martinez,2021-11-10,2021-11-26,87,Female,O+,Obesity,Theresa Smith,Blue Cross,22540.609997,249,Emergency,Lipitor,Inconclusive
54800,"Wood and Barnett Smith,",Jennifer Gonzalez,2023-09-13,2023-09-21,88,Female,B+,Obesity,Richard Roberts,Cigna,9618.312285,247,Emergency,Paracetamol,Abnormal
54670,"and Gray Smith, Jennings",Jade Baker,2021-05-31,2021-06-03,88,Female,O-,Obesity,Todd Evans,UnitedHealthcare,1990.269053,488,Urgent,Lipitor,Normal
52372,"and Miller, Olson Olson",Deborah Mcbride,2021-05-28,2021-06-13,89,Female,O+,Obesity,Robert Garcia,Cigna,5692.907188,166,Elective,Paracetamol,Abnormal

In [17]:
a = Cure.Gender.value_counts()
a

Gender
Female    4622
Male      4609
Name: count, dtype: int64

In [18]:
cols = ['Age','Gender']
grouped = Cure.groupby(cols, as_index = False)['Age']
result = grouped.size()
result

     Age  Gender  size
0     13  Female     2
1     13    Male     4
2     14  Female     4
3     14    Male     2
4     15  Female     3
..   ...     ...   ...
147   86    Male     1
148   87  Female     2
149   87    Male     4
150   88  Female     2
151   89  Female     1

[152 rows x 3 columns]

In [19]:
df2.head()

,Hospital,Name,Date of Admission,Discharge Date,Age,Gender,Blood Type,Medical Condition,Doctor,Insurance Provider,Billing Amount,Room Number,Admission Type,Medication,Test Results
51900,"and Huerta, Cox Price",Jacob Williams,2020-03-03,2020-03-20,13,Female,A+,Obesity,Samantha Scott,Medicare,42349.109219,373,Urgent,Ibuprofen,Normal
50908,"Kelly, and Gomez Williams",Ronald Davis,2023-12-06,2024-01-04,13,Male,A+,Obesity,Shannon Butler,Cigna,3014.565852,241,Emergency,Paracetamol,Normal
50377,"Pollard Wallace, Sims and",James Bass Phd,2020-12-30,2021-01-17,13,Male,O+,Asthma,Jennifer Hammond,Blue Cross,22901.022707,476,Emergency,Ibuprofen,Inconclusive
53590,Davis-Lawrence,Jessica Chung,2020-07-06,2020-07-11,13,Male,AB+,Obesity,Leah Hancock,Blue Cross,32019.913320,129,Urgent,Aspirin,Abnormal
52172,"Arellano and Armstrong Hensley,",Charles Jordan,2021-05-13,2021-06-12,13,Male,A+,Arthritis,Brian Baker,UnitedHealthcare,10597.383799,451,Emergency,Penicillin,Normal

In [20]:
df2.dtypes

Hospital               object
Name                   object
Date of Admission      object
Discharge Date         object
Age                     int64
Gender                 object
Blood Type             object
Medical Condition      object
Doctor                 object
Insurance Provider     object
Billing Amount        float64
Room Number             int64
Admission Type         object
Medication             object
Test Results           object
dtype: object

In [21]:
df2['Date of Admission'] = pd.to_datetime(df2['Date of Admission'])
df2['Discharge Date'] = pd.to_datetime(df2['Discharge Date'])

In [22]:
df2.dtypes

Hospital                      object
Name                          object
Date of Admission     datetime64[ns]
Discharge Date        datetime64[ns]
Age                            int64
Gender                        object
Blood Type                    object
Medical Condition             object
Doctor                        object
Insurance Provider            object
Billing Amount               float64
Room Number                    int64
Admission Type                object
Medication                    object
Test Results                  object
dtype: object

In [23]:
df2['spent_day'] = df2['Discharge Date'] - df2['Date of Admission']

In [24]:
df2.head()

,Hospital,Name,Date of Admission,Discharge Date,Age,Gender,Blood Type,Medical Condition,Doctor,Insurance Provider,Billing Amount,Room Number,Admission Type,Medication,Test Results,spent_day
51900,"and Huerta, Cox Price",Jacob Williams,2020-03-03,2020-03-20,13,Female,A+,Obesity,Samantha Scott,Medicare,42349.109219,373,Urgent,Ibuprofen,Normal,17 days
50908,"Kelly, and Gomez Williams",Ronald Davis,2023-12-06,2024-01-04,13,Male,A+,Obesity,Shannon Butler,Cigna,3014.565852,241,Emergency,Paracetamol,Normal,29 days
50377,"Pollard Wallace, Sims and",James Bass Phd,2020-12-30,2021-01-17,13,Male,O+,Asthma,Jennifer Hammond,Blue Cross,22901.022707,476,Emergency,Ibuprofen,Inconclusive,18 days
53590,Davis-Lawrence,Jessica Chung,2020-07-06,2020-07-11,13,Male,AB+,Obesity,Leah Hancock,Blue Cross,32019.913320,129,Urgent,Aspirin,Abnormal,5 days
52172,"Arellano and Armstrong Hensley,",Charles Jordan,2021-05-13,2021-06-12,13,Male,A+,Arthritis,Brian Baker,UnitedHealthcare,10597.383799,451,Emergency,Penicillin,Normal,30 days

In [25]:
a = df2.sort_values(by = 'Billing Amount', ascending = False)
a.head()

,Hospital,Name,Date of Admission,Discharge Date,Age,Gender,Blood Type,Medical Condition,Doctor,Insurance Provider,Billing Amount,Room Number,Admission Type,Medication,Test Results,spent_day
36349,Griffin Group,Todd Carrillo,2023-09-08,2023-10-04,51,Female,A+,Hypertension,Kathleen Griffin,Blue Cross,52764.276736,209,Elective,Ibuprofen,Normal,26 days
34613,Hernandez-Morton,Karen Kline,2021-06-19,2021-07-03,79,Female,AB+,Cancer,Dr. Joseph Gordon,UnitedHealthcare,52373.032374,181,Urgent,Penicillin,Inconclusive,14 days
51313,Hernandez-Morton,Karen Kline,2021-06-19,2021-07-03,74,Female,AB+,Cancer,Dr. Joseph Gordon,UnitedHealthcare,52373.032374,181,Urgent,Penicillin,Inconclusive,14 days
5735,Sons and Bailey,David Sandoval,2019-11-02,2019-11-11,22,Male,AB-,Hypertension,Taylor Novak,Blue Cross,52271.663747,228,Emergency,Ibuprofen,Normal,9 days
7088,Miller Ltd,Kathryn Gonzales,2020-08-11,2020-08-12,18,Female,O+,Diabetes,Kristin Clark,Aetna,52211.852966,383,Urgent,Paracetamol,Inconclusive,1 days

In [26]:
cols = ['Date of Admission','Hospital','Billing Amount']
grouped = df2.groupby(cols, as_index = False)['Billing Amount']
result = grouped.sum()
result

      Date of Admission                     Hospital  Billing Amount
0            2019-05-08    Allen, Quinn Mitchell and     4360.795861
1            2019-05-08               Bailey-Freeman    12536.753390
2            2019-05-08                Bailey-Herman     9379.010120
3            2019-05-08        Baker and Boyd, Floyd    25621.998595
4            2019-05-08  Chandler, and Olson Holland    20520.280587
...                 ...                          ...             ...
49995        2024-05-07               Sparks-Hawkins    92619.952371
49996        2024-05-07             Wright-Dougherty    14133.936362
49997        2024-05-07   and Dawson, Payne Phillips    12653.158803
49998        2024-05-07         and Rowe Wood Reyes,    46204.642438
49999        2024-05-07           and Sons Rodriguez    10093.235691

[50000 rows x 3 columns]

In [27]:
con1 = df2['Date of Admission'] == '2020-03-03'
con2 = df2['Hospital'] == 'and Huerta, Cox Price'
filt = df2.loc[con1 & con2]
filt

,Hospital,Name,Date of Admission,Discharge Date,Age,Gender,Blood Type,Medical Condition,Doctor,Insurance Provider,Billing Amount,Room Number,Admission Type,Medication,Test Results,spent_day
51900,"and Huerta, Cox Price",Jacob Williams,2020-03-03,2020-03-20,13,Female,A+,Obesity,Samantha Scott,Medicare,42349.109219,373,Urgent,Ibuprofen,Normal,17 days
6321,"and Huerta, Cox Price",Jacob Williams,2020-03-03,2020-03-20,18,Female,A+,Obesity,Samantha Scott,Medicare,42349.109219,373,Urgent,Ibuprofen,Normal,17 days

In [28]:
df2.head()

,Hospital,Name,Date of Admission,Discharge Date,Age,Gender,Blood Type,Medical Condition,Doctor,Insurance Provider,Billing Amount,Room Number,Admission Type,Medication,Test Results,spent_day
51900,"and Huerta, Cox Price",Jacob Williams,2020-03-03,2020-03-20,13,Female,A+,Obesity,Samantha Scott,Medicare,42349.109219,373,Urgent,Ibuprofen,Normal,17 days
50908,"Kelly, and Gomez Williams",Ronald Davis,2023-12-06,2024-01-04,13,Male,A+,Obesity,Shannon Butler,Cigna,3014.565852,241,Emergency,Paracetamol,Normal,29 days
50377,"Pollard Wallace, Sims and",James Bass Phd,2020-12-30,2021-01-17,13,Male,O+,Asthma,Jennifer Hammond,Blue Cross,22901.022707,476,Emergency,Ibuprofen,Inconclusive,18 days
53590,Davis-Lawrence,Jessica Chung,2020-07-06,2020-07-11,13,Male,AB+,Obesity,Leah Hancock,Blue Cross,32019.913320,129,Urgent,Aspirin,Abnormal,5 days
52172,"Arellano and Armstrong Hensley,",Charles Jordan,2021-05-13,2021-06-12,13,Male,A+,Arthritis,Brian Baker,UnitedHealthcare,10597.383799,451,Emergency,Penicillin,Normal,30 days

In [29]:
a = df2['Billing Amount'] <10000
b = df2[a]
b.head()

,Hospital,Name,Date of Admission,Discharge Date,Age,Gender,Blood Type,Medical Condition,Doctor,Insurance Provider,Billing Amount,Room Number,Admission Type,Medication,Test Results,spent_day
50908,"Kelly, and Gomez Williams",Ronald Davis,2023-12-06,2024-01-04,13,Male,A+,Obesity,Shannon Butler,Cigna,3014.565852,241,Emergency,Paracetamol,Normal,29 days
55227,"and Spencer Johnson Lewis,",Jim Day,2021-06-20,2021-06-28,14,Male,O-,Arthritis,Rhonda Davis DVM,Blue Cross,1539.611297,238,Elective,Aspirin,Abnormal,8 days
51203,Lamb-Mills,Brenda Berry Md,2020-07-14,2020-08-04,14,Female,AB+,Obesity,Allen Smith,Medicare,6766.651930,197,Emergency,Penicillin,Normal,21 days
52703,Stewart-Stephens,Maria Becker,2023-03-03,2023-03-14,14,Male,AB+,Obesity,Breanna Hall,Medicare,2753.161728,287,Urgent,Aspirin,Normal,11 days
54494,Group Howard,David Shaw,2019-10-26,2019-11-22,14,Female,A+,Cancer,Elizabeth Brown,Aetna,9437.803449,286,Emergency,Lipitor,Abnormal,27 days

In [42]:
col = ['Hospital','Doctor']
grp = df2.groupby(col)['Doctor']
res = grp.count()
res

Hospital                       Doctor
Abbott Inc                     Brandi Lucas         1
Abbott Ltd                     Jessica Arnold       1
Abbott Moore and Williams,     Jordan Black         1
Abbott and Thompson, Sullivan  Angela Hernandez     1
Abbott, Peters and Hoffman     Kelsey Logan         2
                                                   ..
and Zimmerman Sons             Catherine Howell     1
and Zuniga Davis Carlson,      Philip Montgomery    1
and Zuniga Francis Peterson,   Jane Gomez           1
and Zuniga Sons                Taylor Floyd         1
and Zuniga Thompson, Blake     Sean Curry           1
Name: Doctor, Length: 50000, dtype: int64

In [31]:
df2.head()

,Hospital,Name,Date of Admission,Discharge Date,Age,Gender,Blood Type,Medical Condition,Doctor,Insurance Provider,Billing Amount,Room Number,Admission Type,Medication,Test Results,spent_day
51900,"and Huerta, Cox Price",Jacob Williams,2020-03-03,2020-03-20,13,Female,A+,Obesity,Samantha Scott,Medicare,42349.109219,373,Urgent,Ibuprofen,Normal,17 days
50908,"Kelly, and Gomez Williams",Ronald Davis,2023-12-06,2024-01-04,13,Male,A+,Obesity,Shannon Butler,Cigna,3014.565852,241,Emergency,Paracetamol,Normal,29 days
50377,"Pollard Wallace, Sims and",James Bass Phd,2020-12-30,2021-01-17,13,Male,O+,Asthma,Jennifer Hammond,Blue Cross,22901.022707,476,Emergency,Ibuprofen,Inconclusive,18 days
53590,Davis-Lawrence,Jessica Chung,2020-07-06,2020-07-11,13,Male,AB+,Obesity,Leah Hancock,Blue Cross,32019.913320,129,Urgent,Aspirin,Abnormal,5 days
52172,"Arellano and Armstrong Hensley,",Charles Jordan,2021-05-13,2021-06-12,13,Male,A+,Arthritis,Brian Baker,UnitedHealthcare,10597.383799,451,Emergency,Penicillin,Normal,30 days

In [32]:
a = df2['Hospital'] == 'Kelly, and Gomez Williams'
b = df2['Doctor'] == 'Shannon Butler'
fil = df2.loc[a & b]
fil

,Hospital,Name,Date of Admission,Discharge Date,Age,Gender,Blood Type,Medical Condition,Doctor,Insurance Provider,Billing Amount,Room Number,Admission Type,Medication,Test Results,spent_day
50908,"Kelly, and Gomez Williams",Ronald Davis,2023-12-06,2024-01-04,13,Male,A+,Obesity,Shannon Butler,Cigna,3014.565852,241,Emergency,Paracetamol,Normal,29 days
40889,"Kelly, and Gomez Williams",Ronald Davis,2023-12-06,2024-01-04,18,Male,A+,Obesity,Shannon Butler,Cigna,3014.565852,241,Emergency,Paracetamol,Normal,29 days

In [33]:
a = df2['Hospital'] == 'Kelly, and Gomez Williams'
b = df2[a]
b

,Hospital,Name,Date of Admission,Discharge Date,Age,Gender,Blood Type,Medical Condition,Doctor,Insurance Provider,Billing Amount,Room Number,Admission Type,Medication,Test Results,spent_day
50908,"Kelly, and Gomez Williams",Ronald Davis,2023-12-06,2024-01-04,13,Male,A+,Obesity,Shannon Butler,Cigna,3014.565852,241,Emergency,Paracetamol,Normal,29 days
40889,"Kelly, and Gomez Williams",Ronald Davis,2023-12-06,2024-01-04,18,Male,A+,Obesity,Shannon Butler,Cigna,3014.565852,241,Emergency,Paracetamol,Normal,29 days